/*========== GOOGLE FONT ==========*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,100&display=swap');

/*========== UNIVERSAL CSS ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #720403;
}

#navbar > a {
  color: #eadeda;
  font-size: 1.25rem;
  font-weight: bold;
  padding: .5rem;
  margin: 1rem;
}

#navbar > a:hover {
  background-color: #002500;
  letter-spacing: .125rem;
  margin-top: .125rem;
  transition: 0.3s ease;
}

#welcome-section {
  background-color: #13101b;
  color: #ffd400;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

button {
  font-size: 1.5rem;
  margin-top: 10rem;
  padding: .75rem;
  background-color: #0404fc;
  color: #eadeda;
  cursor: pointer;
}

button:hover {
  background-color: #080897;
}

#projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  background-color: #2C2229;
}

.project_tile {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-tile:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.project-tile > img {
  width: 100%;
}

.project-tile > div {
  padding: 1.75rem;
  background-color: #000000;
  font-size: 1.5rem;
  text-align: center;
}

.project-tile > div > a {
  color: #ffd400;
}

#footer {
  display: grid;
  grid-template-rows: 1fr .5fr .1fr;
  align-items: center;
  height: 100vh;
  background-color: #13101b;
  color: #ffd400;
}

#phrase {
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
}

#phrase > h2 {
  text-align: center;
}

#phrase > p {
  text-align: center;
}

#links {
  justify-self: center;
  transition: transform .3s;
}

#links > div {
  display: inline-block;
  margin-right: 1rem;
  transition: transform .3s;
}

#links > div:hover {
  transform: scale(1.1);
}

#profile-link {
  font-size: 1.5rem;
  font-weight: bold;
  color: #eadeda;
  margin: 0 2rem;
}

#profile-link:hover {
  color: #ffd400;
}

#credit {
  border-top: 2px solid red;
  padding: 2rem;
}

#credit > p {
  color: #eadeda;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #projects {
    display: grid;
    grid-template-columns: 1fr;
  }

  body,
  #footer,
  #navbar,
  #phrase {
    width: 100%;
  }

  header > h1 {
    text-align: center;
  }
}